.sticky {
  width: 80%;
  margin: 3rem auto;
}
.sticky h2 {
  background: white;
  position: sticky;
  top: 10%;
  z-index: 1;
  background: #0046be;
  color: white;
  padding-left: 1rem;
}

@media screen and (max-width: 770px) {
  .sticky h2 {
    top: 13%;
  }
}
